@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700&display=swap');

:root {
    --primary: #ff7530;
    --gray: #eee3e3;
}


body {
    font-family: 'BioRhyme', serif;
    margin: 0rem;
    width: 100%;
    background: var(--primary);

}





header {
    text-align: center;
    background-color: var(--primary);
    height: 6rem;
}

footer {
    background-color: var(--primary);
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 8rem;
    margin: auto;
}

header h1 {
    margin: 0rem;
    padding-top: 2rem;
    letter-spacing: .1rem;
}

#btn-translate {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: .7rem;
    background-color: var(--primary);
    border: .2rem outset white;
    font-family: inherit;
}

#inputTextArea,
#dothrakiTextArea {
    margin-top: 1.5rem;
    outline: .3rem solid white;
    min-height: 15vh;
    min-width: 25rem;
    background: var(--gray);
}


.container-center {
    text-align: center;
    display: block;
    max-width: 500px;
    margin: auto;
}


.about {
    font-family: inherit;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.5rem;

}

.about-desc {
    font-family: inherit;
    margin-top: .5rem;
    font-size: smaller;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}